<div class="min-h-screen flex items-center justify-center py-10 bg-gray-100">
  <div class="w-full max-w-3xl">
    <%= title_h2(t('.title')) %>
    <%= form_with model: [@user, @content], local: true,
                  class: "bg-white border-2 p-6 rounded-none shadow-md space-y-6" do |f| %>

      <div>
        <%= f.label :title, class: "block text-sm font-medium text-gray-700" %>
        <%= f.text_field :title, class: "w-full border border-gray-800 text-gray-800 rounded-none bg-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-800 p-2" %>
        <%= form_errors(@content, :title) %>
      </div>

      <div>
        <%= f.label :body, class: "block text-sm font-medium text-gray-700" %>
        <div class="border border-gray-800 rounded-none bg-white">
          <%= f.rich_text_area :body, class: "w-full trix-content px-3 py-2 text-gray-800 focus:outline-none focus:ring-2 focus:ring-gray-800", style: "min-height: 250px;" %>
        </div>
        <%= form_errors(@content, :body) %>
      </div>

        <div>
          <%= f.label :visibility, class: "block text-sm font-medium text-gray-700" %>
          <%= f.select :visibility,
              [[I18n.t("content.visibility.only_me"), :only_me], [I18n.t("content.visibility.visible_to_all"), :visible_to_all], [I18n.t("content.visibility.unlisted"), :unlisted]],
              {},
              class: "w-full border border-gray-800 text-gray-800 rounded-none bg-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-800 p-2" %>
          <%= form_errors(@content, :visibility) %>
        </div>

        <%= render 'tag_selector', f: f, tags: @tags, content: @content %>

      <div class="flex justify-around items-center">
        <%= f.submit t('.save'), class: "px-6 py-2 bg-gray-800 hover:bg-gray-900 text-white font-semibold rounded-none shadow-sm focus:outline-none focus:ring-2 focus:ring-gray-800" %>

        <%= link_to t('.cancel'), user_dashboard_path(current_user), class: "text-red-500 hover:underline" %>
      </div>

    <% end %>
  </div>
</div>