<div data-controller="dropdown" class="relative mt-1 group user-button">
  <button data-action="click->dropdown#toggle"
          class="px-4 mr-1 py-2 font-medium text-gray-800 hover:text-gray-400 transition uppercase flex items-center gap-2">
    <%= current_user.username.upcase %>
    <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
      <path d="M19 9l-7 7-7-7"/>
    </svg>

  </button>

  <div data-dropdown-target="menu"
       class="absolute right-0 w-40 bg-gray-100 border-2 border-gray-700 rounded-none text-gray-800 shadow-md opacity-0 pointer-events-none transition-opacity z-50">
    <%= link_to root_path, class: "flex items-center gap-2 px-4 py-2 text-sm border-b border-gray-300 hover:bg-gray-200 hover:text-gray-600 transition" do %>
      <svg class="w-4 h-4 mr-2 text-gray-500" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
      </svg> 
      <span> <%= t('.profile') %> </span>
    <% end %>

    <%= button_to destroy_user_session_path, method: :delete, class: "flex items-center gap-2 w-full text-left px-4 py-2 text-sm hover:bg-red-200 hover:text-red-600 transition" do %>
      <svg class="w-4 h-4 mr-2 text-red-500" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1"/>
      </svg> 
      <span class="text-red-500"> <%= t('.log_out') %> </span>
    <% end %>
  </div>
</div>
