<div class="max-w-7xl mx-auto px-4 py-10 grid grid-cols-1 md:grid-cols-3 gap-6">

  <div class="md:col-span-2">
    <div class="mb-6">
      <%= form_with url: admin_tags_path, method: :get, local: true, class: "flex gap-2" do |f| %>
        <%= f.text_field :q, value: params[:q], placeholder: t('.search_tag'), class: "w-full border border-gray-300 px-3 py-2 rounded-none shadow-sm focus:ring focus:ring-gray-500 focus:border-gray-700" %>
        <button type="submit" class="p-2 px-5 bg-gray-800 text-white rounded-none hover:bg-gray-700 transition test-search-btn">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-4.35-4.35m0 0A7.5 7.5 0 104.5 4.5a7.5 7.5 0 0012.15 12.15z" />
          </svg>
        </button>
      <% end %>
    </div>

    <div class="mt-8">
      <%= turbo_frame_tag "tags_list" do %>
        <%= render "tags_list", tags: @tags %>
      <% end %>
    </div>

    <% if @tags.empty? %>
      <div class="mt-6 text-center text-gray-500">
        <p><%= t('.no_tags_found') %></p>
      </div>
    <% end %>
  </div>

  <div class="md:col-span-1 bg-white border-2 border-gray-700 p-6 shadow-sm h-fit">
    <h2 class="text-lg font-semibold text-gray-800 mb-4">
      <%= t('.new_tag') %>
    </h2>

    <%= turbo_frame_tag "tag_form" do %>
      <%= render "form", tag: @tag %>
    <% end %>
  </div>
</div>
