<section class="mb-20">
  <h2 class="text-2xl font-semibold text-gray-800 mb-6 border-b-2 border-gray-700 pb-2"><%= t('.recent_content') %></h2>
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <% current_user.contents.order(created_at: :desc).limit(8).each do |content| %>
      <div class="border-2 border-gray-700 hover:border-gray-500 transition">
        <% if content.cover.attached? %>
          <%= image_tag url_for(content.cover),
              class: "w-full h-32 object-cover" %>
        <% else %>
          <%= image_tag "default_avatar.png",
              class: "w-full h-32 object-cover" %>
        <% end %>
        <div class="p-2">
          <p class="text-sm text-gray-800 font-medium"><%= truncate(content.title, length: 40) %></p>
          <p class="text-sm text-gray-800 font-medium"><%= truncate(content.user.username, length: 40) %></p>
          <p class="text-sm text-gray-800 font-medium"><%= truncate(time_ago_in_words(content.created_at), length: 40) %></p>
        </div>
      </div>
    <% end %>
  </div>
</section>