<div class="max-w-5xl mx-auto px-6 py-16">

  <% if @announcements.any? %>
    <section class="mb-8 space-y-4">
      <% @announcements.each do |announcement| %>
        <div class="border-2 border-gray-800 p-6 bg-white shadow-sm">
          <h3 class="text-xl font-semibold text-gray-800 mb-2 tracking-wide">
            <%= announcement.title %>
          </h3>
          <p class="text-gray-600 text-sm whitespace-pre-line mb-2">
            <%= announcement.body %>
          </p>
          <% if announcement.start_at.present? %>
            <p class="text-xs text-gray-500 italic">
               <%= t('.posted_time_ago', date: time_ago_in_words(announcement.start_at)) %>
            </p>
          <% end %>
        </div>
      <% end %>
    </section>
  <% end %>

  <section class="grid grid-cols-1 sm:grid-cols-2 gap-6 text-center mb-20">
    <div class="p-6 border-2 border-gray-700 hover:border-gray-500 transition">
      <svg class="w-10 h-10 mx-auto text-gray-800 mb-4" fill="none" stroke="currentColor" stroke-width="1.5"
        viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 16V4m0 0L8 8m4-4l4 4M4 20h16" />
      </svg>
      <h3 class="text-lg font-semibold text-gray-800 mb-2"><%= t('.new_content') %></h3>
      <%= link_to 'Upload', root_path, class: "inline-block mt-2 px-6 py-2 text-gray-800 border-2 border-gray-800 hover:border-gray-500 hover:text-gray-500 transition font-medium rounded-none" %>
    </div>

    <div class="p-6 border-2 border-gray-700 hover:border-gray-500 transition">
      <svg class="w-10 h-10 mx-auto text-gray-800 mb-4" fill="none" stroke="currentColor" stroke-width="1.5"
        viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3 7h18M3 12h18M3 17h18" />
      </svg>
      <h3 class="text-lg font-semibold text-gray-800 mb-2"><%= t('.new_collection') %></h3>
      <%= link_to t('.create'), root_path, class: "inline-block mt-2 px-6 py-2 text-gray-800 border-2 border-gray-800 hover:border-gray-500 hover:text-gray-500 transition font-medium rounded-none" %>
    </div>
  </section>

  <section class="mb-20">
    <h2 class="text-2xl font-semibold text-gray-800 mb-6 border-b-2 border-gray-700 pb-2"><%= t('.recent_content') %></h2>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    </div>
  </section>

  <section class="mb-20">
    <h2 class="text-2xl font-semibold text-gray-800 mb-6 border-b-2 border-gray-700 pb-2"><%= t('.my_collections') %></h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    </div>
  </section>

  <section class="mb-20">
    <h2 class="text-2xl font-semibold text-gray-800 mb-6 border-b-2 border-gray-700 pb-2"><%= t('.my_friends') %></h2>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    </div>
  </section>

</div>
